@page
@using EFCoreHotel_RazorPages.Models
@using EFCoreHotel_RazorPages.Services.Interface
@model EFCoreHotel_RazorPages.GetHotelsModel
@{
    ViewData["Title"] = "GetHotels";
}

<h1>List of Hotels</h1>
<h2>Income calculator</h2>
<table class="table">
    <thead>
    <tr>
        Input the specific day, and the hotel name to get the total income for all bookings on that specific day
    </tr>
    </thead>
</table>
<form>
    <div class="form-group">
        Date: <input class="form-control" asp-for="DateTime" />
    </div>
    <div class="form-group">
        <input asp-for="@Model.HotelName" placeholder="HotelName" class="form-control" />
    </div>
    Total Income :  @Model.Income
    <div class="form-group">
        <input type="submit" value="Get Income" class="btn btn-primary"/>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th> Hotel Id  </th>
            <th> Name </th>
            <th> Address  </th>
            <th> </th>
            <th> Total Room Count</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Hotels != null)
        {

            @foreach (var item in Model.Hotels)
            {

                <tr>
                    <td>@item.HotelNo  </td>
                    <td>  @item.Name </td>
                    <td>  @item.Address </td>
                    <td><a asp-route-roomCount="@item.RoomCount" asp-route-hotelName="@item.Name" asp-route-hotelNo="@item.HotelNo" asp-page="HotelDetails">All Rooms</a></td>
                    <td>@item.RoomCount</td>
                </tr>
            }
        }
</table>




