@page
@model EFCoreHotel_RazorPages.Pages.Guests.GuestDetailsModel
@{
}

<h4 style="color:red"> List of bookings</h4>
<table class="table">
    <thead>
    <tr>
        <th>   Booking Id  </th>
        <th>  From  </th>
        <th> To  </th>
        <th> Hotel No  </th>
        <th>  Room No  </th>
        <th>  Guest No  </th>
    </tr>
    </thead>
    <tbody>

    @if (Model.Bookings != null)
    {
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>  @item.BookingId</td>     
                <td>  @item.DateFrom  </td>
                <td>  @item.DateTo </td>
                <td>  @item.HotelNo </td>
                <td>  @item.RoomNo </td>
                <td>  @item.GuestNo </td>
            </tr>
        }
    }
</table>